<template name="cocktail">
    <div class="cockail_image">
        <div id="draggable3" class="draggable ui-widget-content">
            <div class="like like1">
                <img id="cocktailDislike" src="images/dislike.png" alt="">
            </div>
            <div class="img-responsive">
                <img id="cocktailLike" class="" src="images/verre.png">
                <div class="boisson">
                    <svg class="couleur" viewBox="0 0 20 20">

                    <!--<path d="M'+x1+' '+y1+', L'+x2+' '+y1+', L'+x3+' '+y2+', L'+x4+' '+y2+'z" fill="'+mycocktaildetail[i].color+'" />-->
                    </svg>
                </div>

            </div>
            <div class="like like2">

                <img src="images/like.png" alt="">
            </div>
            <!--<p>Déroule le cocktail</p>-->
        </div>
    </div>
</template>
