<template name="cocktail">
    <div class="cockail_image">
        <div id="draggable3" class="draggable ui-widget-content">
            <div class="like like1">
                <img src="images/like.png" alt="">
            </div>
            <img src="images/cocktail.svg" height="50" class="img-responsive">
            <div class="like like2">
                <img src="images/dislike.png" alt="">
            </div>
            <!--<p>Déroule le cocktail</p>-->
        </div>
    </div>
</template>