<template name="cocktail">
    <div class="cockail_image">
        <div id="draggable3" class="draggable ui-widget-content">
            <div class="like like1">
                <img src="images/dislike.png" alt="">
            </div>
            <div class="img-responsive">
                <img src="images/verre.png">
                <div class="boisson">
                    <svg class="couleur" viewBox="0 0 20 20">

                    </svg>
                </div>

            </div>
            <div class="like like2">

                <img src="images/like.png" alt="">
            </div>
            <!--<p>Déroule le cocktail</p>-->
        </div>
    </div>
</template>
