<template name="ingredients">

        <ul class="ingredientsList">
            {{> addIngredients}}
            <div class="content_white list">
                <h2>Mon Cocktail</h2>
                <div class="list">
                    {{#each ingredients}}
                    <li><div class="rond" style="background-color: {{color}};"></div><p>{{name}}</p> </li>
                    {{/each}}
               {{> cocktailInfo}}

            </div>
            </div>
        </ul>


</template>

<template name="addIngredients">
    <form>
        <!--<input type="text" placeholder="Type a task here..." name="todoName">-->
        <div class="ui-widget">
            <input autofocus id="ingredientName" type="text" name="ingredientName" placeholder="Remplis moi ce verre">
        </div>

    </form>
</template>


<template id="cocktailInfo" name="cocktailInfo">
    {{#each cocktailInfo}}
    <div id="cocktailInfoRating">
        <br>
        <b style="display: inline; margin: 0;">Vues: {{visits}}</b>

        <div class="progress-wrap progress" id="cocktailInfoProgress" data-progress-percent="{{ratioLikes}}">
            <div class="progress-bar progress"></div>
        </div>
    </div>
    {{/each}}


</template>